/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #ffffff; }
a:hover {
  color: #ffffff; }

/* CONFIGURACION DE BOTONES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 200px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; }

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left:8px;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* BOTONES
------------------------------------------------- */

/* Linkedin */
.button.button-linkedin {
  color: #FFFFFF;
  background-color: #2a3d55 }
.button.button-linkedin:hover,
.button.button-linkedin:hover:before {
  white-space: middle; }

/* reddit */
.button.button-reddit {
  color: #FFFFFF;
  background-color: #2a3d55 }
.button.button-reddit:hover,
.button.button-reddit:hover:before {
    white-space: initial; }

/* hotmail */
.button.button-hotmail {
  color: #FFFFFF;
  background-color: #2a3d55 }
.button.button-hotmail:hover,
.button.button-hotmail:hover:before {
    white-space: initial; }

/* Mail */
.button.button-gmail {
  color: #ffffff;
  background-color: #2a3d55 }
.button.button-gmail:hover,
.button.button-gmail:hover:before {
    white-space: initial; }

    /* Whatsapp*/
.button.button-whatsapp {
  color: #FFFFFF;
  background-color: #2a3d55 }
.button.button-whatsapp:hover,
.button.button-whatsapp:hover:before {
   white-space: initial; }

